.header {
    display: flex;
    align-items: center;
    font-size: 1em;
    padding: .2em;
    background-color: #55C1FA;
}

.header .header-exit {
    font-size: .35em;
    margin-left: .8em;
}

.header .header-title {
    font-size: .35em;
    margin: 0 auto;
}

/* 16/9 */
[data-aspect-ratio="16:9"] {

}

/* /16/9 */

/* 16/10 */
[data-aspect-ratio="16:10"] {

}
/* /16/10 */