.list {
    display: flex;
    align-items: center;
    font-size: 1em;
    flex-direction: column;
    gap: .5em;
}

/* 16/9 */
[data-aspect-ratio="16:9"] {

}

/* /16/9 */

/* 16/10 */
[data-aspect-ratio="16:10"] {

}
/* /16/10 */