@keyframes showLose {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bloodPulse {
    0% {
        opacity: 0.9;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.9;
    }
}

@keyframes showBlood {
    0% {
        transform: scale(2);
    }


    100% {
        transform: scale(1);
    }
}

@keyframes showMain {
    0% {
        opacity: 0;
        transform: scale(0);
    }


    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.modal {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    animation: showLose 1s ease-in-out;
}

.modal::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center,rgba(255, 0, 0, .2) 0%,rgba(120, 0, 0, 0.7) 70%,rgba(70, 0, 0, 1) 100%);
    pointer-events: none;
    z-index: 555;
    animation: bloodPulse 5s infinite ease-in-out;
}

.modal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../../../assets/image/game/battle/blood.png');
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    z-index: 555;
    filter: blur(.1vw);
    animation: showBlood 1s ease-in-out;
}

.modal-wrapper {
    position: relative;
    z-index: 700;
    animation: showMain 1s ease-in-out;
}

.modal-title div {
    text-align: center;
    letter-spacing: 0.1em;
}

.modal-action {
    display: flex;
    justify-content: center;
}

.action__btn {
	font-size: 2rem;
    margin-top: 1em;
}

.action__btn:not(last-child) {
    margin-right: 1em;
}
