html {
    --text-color: #ffffff;
    --text-shadow-color: #000000;
    --text-prime-color: #ffffff;
    --text-prime-shadow-color: transparent;
    --title-color: #55C1FA;
    --block-shadow-color: #000000;
    --block-bg-color: #55C1FA;
    --block-border-color: #ffffff;
    --btn-shadow-color: #000000;
    --btn-bg-color: #55C1FA;
    --btn-border-color: #ffffff;
    --btn-close-border-color: #ffffff;
    --btn-close-bg-color: #55C1FA;
    --btn-close-border-color: #ffffff;
}