html[data-theme="dark"] {
    --text-color: #000000;
    --text-shadow-color: #ffffff;
    --text-prime-color: #b61010;
    --text-prime-shadow-color: transparent;
    --title-color: #b61010;
    --block-shadow-color: #ffffff;
    --block-bg-color: #a40d0d;
    --block-border-color: #000000;
    --btn-shadow-color: #ffffff;
    --btn-bg-color: #a40d0d;
    --btn-border-color: #000000;
}