.button-action {
    font-family: 'opsilon', sans-serif;
    color: var(--color-text);
    padding: 0 .5em;
    border: .1em solid #ffffff;
    border-bottom: 0.6em solid #ffffff;
    border-radius: 0.5em;
    text-shadow: 0.05em 0.05em .2em var(--color-text-shadow);
    box-shadow: 0.05em 0.05em .5em var(--color-block-shadow);
    background-color: transparent;
    backdrop-filter: blur(.01em);
    -webkit-backdrop-filter: blur(.01em);
    transition: all 0.6s ease;
}

@media (hover: hover) {
    .button-action:hover {
        background-color: var(--color-block-bg);   
    }
}

.button-action:active {
    transform: scale(0.95);
    transition: all 0.2s;
}

[data-aspect-ratio="16:9"] {
    .button-action {
        font-size: 2.5vw;
    }
}

[data-aspect-ratio="16:10"] {
    .button-action {
        font-size: 2.5vw;
    }
}
