.ship img {
    display: block;
    width: 100%;
    filter: contrast(130%);
}

.ship {
    height: var(--width);
}

.ship[data-ship-size="1"] {
    width: calc(var(--width) * 1);
}

.ship[data-ship-size="2"] {
    width: calc(var(--width) * 2);
}

.ship[data-ship-size="3"] {
    width: calc(var(--width) * 3);
}

.ship[data-ship-size="4"] {
    width: calc(var(--width) * 4);
}

.ship[data-plane="vertical"] {
    width: var(--width);
}

.ship[data-ship-size="1"][data-plane="vertical"] {
    height: calc(var(--width) * 1);
}

.ship[data-ship-size="2"][data-plane="vertical"] {
    height: calc(var(--width) * 2);
}

.ship[data-ship-size="3"][data-plane="vertical"] {
    height: calc(var(--width) * 3);
}

.ship[data-ship-size="4"][data-plane="vertical"] {
    height: calc(var(--width) * 4);
}

.ship[data-plane="vertical"][data-ship-size="1"] img.--horizontal {
    transform: rotate(91deg) translate(0, 0);
    width: calc(var(--width) * 1);
    height: var(--width);
}

.ship[data-plane="vertical"][data-ship-size="2"] img.--horizontal {
    transform: rotate(90deg) translate(25%, 50%);
    width: calc(var(--width) * 2);
    height: var(--width);
}

.ship[data-plane="vertical"][data-ship-size="3"] img.--horizontal {
    transform: rotate(90deg) translate(33%, 100%);
    width: calc(var(--width) * 3);
    height: var(--width);
}

.ship[data-plane="vertical"][data-ship-size="4"] img.--horizontal {
    transform: rotate(90deg) translate(37%, 150%);
    width: calc(var(--width) * 4);
    height: var(--width);
}