.player {
    display: flex;
    align-items: center;
    gap: .1em;
    font-size: 1em;
}

.player.--reverse {
    flex-direction: row-reverse;
}

.player__avatar {
    overflow: hidden;
}

.player__avatar img {
    display: block;
    width: 100%;
}

.player__info-name {
    font-size: 1em;
    color: var(--text-color);
    text-shadow: .1em .1em .2em var(--text-shadow-color);
    white-space: nowrap;
}

.player__info-rank {
    font-size: 0.8em;
    color: var(--text-prime-color);
    text-shadow: .1em .1em .15em var(--text-shadow-color);
}


[data-aspect-ratio="16:9"] {
    & .player__avatar {
        width: 2em;
    }
}

[data-aspect-ratio="16:10"] {
    & .player__avatar {
        width: 2em;
    }
}