.tabs {
	width: 100%;
	display: flex;
	border-radius: 0 0 1em 1em;
	border: 1px;
	overflow: hidden;
	font-size: 1rem;
	border-bottom: .2em solid #55C1FA;
}

.tabs__item {
	will-change: opacity;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	padding: 0.4em;
	color: #55C1FA;
	background-color: aliceblue;
	transition: opacity .3s ease;

	@media (hover: hover) {
		&:hover {
			opacity: .5;
		}
	}
}
/* 
@media (hover: hover) {
	.tabs__item:hover {
		opacity: .5;
	}
} */