.battle__coords {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.battle__status {
    position: relative;
    z-index: 2;
    width: 100%;
}

.battle__move {
    position: relative;
    aspect-ratio: 1 / 1;
    margin: auto 0;
    fill: red;
    transition: transform .3s linear;
}

.battle__move.--player {
    transform: rotate(-180deg);
}

.battle__move img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    fill: red;
}

.battle__move-player {
    opacity: 0;
    transition: opacity .3s linear;
}

.battle__move.--player .battle__move-player {
    opacity: 1;
    z-index: 1;
}

.battle__coords-box {
    background-color: #00000045;
}

[data-aspect-ratio="16:9"] {
    & .battle__status {
        margin-bottom: 1%;
    }

    & .battle__coords-box {
        width: 45%;
        border-radius: 1%;
        box-shadow: .2vw 1.5vw 5vw var(--block-shadow-color);
        backdrop-filter: blur(.08vw);
        -webkit-backdrop-filter: blur(.08vw);
    }

    & .battle__move {
        width: 3vw;
    }
}

[data-aspect-ratio="16:10"] {
    & .battle__status {
        margin-bottom: 1%;
    }

    & .battle__coords-box {
        width: 45%;
        border-radius: 1%;
        box-shadow: .2vw 1.5vw 5vw var(--block-shadow-color);
        backdrop-filter: blur(.08vw);
        -webkit-backdrop-filter: blur(.08vw);
    }

    & .battle__move {
        width: 3vw;
    }
}